<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="angularDocTalk" ng-controller="MainCtrl as ctrl">
<head>
    <meta charset="utf-8"/>
    <!-- Prevent mobile zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Angular Doc Talk</title>

    <link rel="shortcut icon" href="favicon.png"/>
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>

<div ng-if="!ctrl.userSearch && !ctrl.docUrl" style="padding-top: 175px"></div>

<div class="container" ng-cloak>
    <h1 class="text-center">&lt;Angular DocTalk&gt;</h1>

    <form class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.search()">Go</button>
            </span>
            <input type="text" ng-model="ctrl.userSearch"
                   typeahead="title for title in ctrl.docTitles | filter:$viewValue | limitTo:8"
                   class="form-control" placeholder="Enter an AngularJS topic. e.g. '$http'">
        </div>
    </form>

    <div ng-show="ctrl.docUrl">
        <div class="embedded-doc">
            <iframe ng-src="{{ctrl.docUrl}}" height="400px" width="100%"></iframe>
        </div>

        <h3>Comments</h3>

        <form>
            <div class="row form-group">
                <div ng-if="ctrl.auth.user" class="col-xs-2 col-md-1">
                    <img ng-src="{{ctrl.auth.user.thirdPartyUserData.picture}}"
                         width="70px"
                         alt="Profile picture"/>
                </div>
                <div class="col-xs-10 col-md-11">
                    <textarea class="form-control"
                              rows="3"
                              placeholder="Enter a comment."
                              ng-model="ctrl.commentForm.comment">
                    </textarea>
                </div>
            </div>

            <div ng-show="!ctrl.auth.user">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.loginWithGoogle()">
                    Log in with Google
                </button>
            </div>
            <div ng-show="ctrl.auth.user">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.postComment()">Post</button>
                <a class="pull-right" href="" ng-click="ctrl.logout()">Logout</a>
            </div>
        </form>

        <div style="padding-top: 40px"></div>

        <ul class="media-list">
            <li class="media"
                ng-repeat="commentInfo in ctrl.commentsForTopic | orderByPriority | orderBy:[wrappedGetCommentScore,creationDate]:true">
                <img class="pull-left media-object"
                     ng-src="{{commentInfo.poster.pic}}"
                     width="70px"
                     alt="Comment poster picture"/>

                <div class="media-body">
                    <div>
                        <span class="comment-title">{{commentInfo.poster.name}}</span>
                        <span class="horizontal-spacer"></span>
                        <span>{{commentInfo.creationDate | date}}</span>
                        <span class="horizontal-spacer"></span>
                        <button ng-click="ctrl.deleteComment(commentInfo)"
                                ng-show="ctrl.auth.user && ctrl.auth.user.uid === commentInfo.poster.uid"
                                class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>

                    <p>
                        {{commentInfo.comment}}
                    </p>

                    <span ng-show="ctrl.getCommentScore(commentInfo) !== 0" class="vote-score">
                        {{ctrl.getCommentScore(commentInfo)}}
                        <span class="horizontal-spacer"></span>
                    </span>

                    <a class="glyphicon glyphicon-thumbs-up"
                       ng-click="ctrl.vote(commentInfo, ctrl.voteTypeEnum.UP)"
                       ng-class="{'selected-up-vote': ctrl.userHasUpVotedComment(commentInfo)}"></a>

                    <span class="horizontal-spacer"></span>

                    <a class="glyphicon glyphicon-thumbs-down"
                       ng-click="ctrl.vote(commentInfo, ctrl.voteTypeEnum.DOWN)"
                       ng-class="{'selected-down-vote': ctrl.userHasDownVotedComment(commentInfo)}"></a>
                </div>
            </li>
        </ul>

    </div>

</div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

<script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.7.0/angularfire.js"></script>
<script src='https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js'></script>

<script src="config/docData.js"></script>
<script src="app.js"></script>

</body>
</html>
