<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="angularDocTalk" ng-controller="mainCtrl as ctrl">
<head>
    <meta charset="utf-8"/>
    <title>Angular Doc Talk</title>

    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.css"/>
</head>
<body>


<div class="container">
    <h1>Angular Doc Talk</h1>

    <form class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.search()">Go</button>
            </span>
            <input type="text" ng-model="ctrl.userSearchTerm"
                   typeahead="term for term in ctrl.searchTerms | filter:$viewValue | limitTo:8"
                   class="form-control" placeholder="Enter an AngularJS topic. e.g. '$http'">
        </div>
    </form>

    <div ng-show="ctrl.docUrl">
        <div style="margin:0; padding:0; overflow:hidden">
            <iframe ng-src="{{ctrl.docUrl}}"
                    style="overflow:hidden; height:500px; width:100%" height="100%" width="100%"></iframe>
        </div>

        <h3>Comments</h3>

        <form>
            <div class="form-group">
                <img ng-if="ctrl.auth.user" src="{{ctrl.auth.user.thirdPartyUserData.picture}}"
                     alt="Profile picture"/>
                <textarea class="form-control" rows="3" placeholder="Enter a comment."
                          ng-model="ctrl.userComment"></textarea>
            </div>
            <div ng-show="!ctrl.auth.user">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.loginWithGoogle()">
                    Log in with Google
                </button>
            </div>
            <div ng-show="ctrl.auth.user">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.postComment()">Post</button>
                <a href="" ng-click="ctrl.logout()">Logout</a>
            </div>

        </form>

        <div>
            actual comments <br/> more comments <br/> even more comments
        </div>

    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

<script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.7.0/angularfire.js"></script>
<script src='https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js'></script>

<script src="config/docData.js"></script>
<script src="config/endpoints.js"></script>
<script src="app.js"></script>

</body>
</html>
